$site-color_first: black;
$site-color_second: red;
$menu_text-color: white;
$top-blocks_bg-color: #f6f2f2;
$inputs-color: #e5e5e5;

$max-width_content: 1250px;

$bp_xxl: 1400px;
$bp_xl: 1200px;
$bp_lg: 992px;
$bp_md: 768px;
$bp_sm: 576px;

